{
    "plugins": ["transform-object-rest-spread", "transform-runtime"],
    "presets": [
        [
            "@babel/env",
            {
                "targets": {
                    "node": "4.8"
                }
            }
        ]
    ]
}
